<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}No Name
			{% endblock %}
		</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🥣</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		{% block navbar %}
			{{ encore_entry_script_tags('navbar') }}
		{% endblock %}

		{% block ajoutProduct %}
			{{ encore_entry_script_tags('ajoutProduct') }}
		{% endblock %}

		{% block filterProduct %}
			{{ encore_entry_script_tags('filterProduct') }}
		{% endblock %}
	</head>
	<header>
		{% include "./components/navbar/navbar.html.twig" %}
	</header>
	<body>
		{% block body %}{% endblock %}
	</body>
	<footer>
		{% include "./components/footer/footer.html.twig" %}
	</footer>
</html>
